<%- include('header') -%>

<table class="table table-hover table-dark">
  <div class="container-fluid">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">COVID UPDATES</h1>
      </div>
    </div>
  </div>
  <thead>
    <tr>
      <th scope="col">Country Name</th>
      <th scope="col">Active</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deceased</th>
      <th scope="col">Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>

    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>

    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>

    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>

    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>

    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>

    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>

<%- include('footer') -%>
