<%- include('nav2') %>

<section id="first-section">
<div class="card mb-3 pt-4 border-value">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="../images/covidintro.png" class="card-img" alt="..." />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">A Killing Machine</h5>
        <p class="card-text">
          Coronavirus disease (COVID-19) is an infectious disease caused by a
          newly discovered coronavirus. <br /><br />
          Most people infected with the COVID-19 virus will experience mild to
          moderate respiratory illness and recover without requiring special
          treatment. Older people, and those with underlying medical problems
          like cardiovascular disease, diabetes, chronic respiratory disease,
          and cancer are more likely to develop serious illness.
          <br /><br />
          The best way to prevent and slow down transmission is to be well
          informed about the COVID-19 virus, the disease it causes and how it
          spreads. Protect yourself and others from infection by washing your
          hands or using an alcohol based rub frequently and not touching your
          face.
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<section id="second-section">

<div class="card mb-3 border-value">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="/images/prevention1.png" class="card-img" alt="..." />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">COVID-19 PREVENTION</h5>
        <p class="card-text">SOAP OR SANITISER?</p>
        <p>
          Sanitiser could seem like a more high-tech approach than a lowly bar
          of soap, and sanitisers with a very high ethanol content can act in a
          similar way to soap and interfere with the lipid membrane. However,
          they are generally not as effective as soap and water because the
          viral particles remain on the surface of the skin, rather than being
          rinsed away.
        </p>
        <p>To prevent the spread of COVID-19:</p>
        <ul>
          <li>
            Clean your hands often. Use soap and water, or an alcohol-based hand
            rub.
          </li>
          <li>
            Maintain a safe distance from anyone who is coughing or sneezing.
          </li>
          <li>Wear a mask when physical distancing is not possible.</li>
          <li>Don’t touch your eyes, nose or mouth</li>
          <li>
            If you have a fever, cough and difficulty breathing, seek medical
            attention.
          </li>
          <li>Stay home if you feel unwell.</li>
          <li>
            Cover your nose and mouth with your bent elbow or a tissue when you
            cough or sneeze.
          </li>
        </ul>
        <h5>Masks</h5>
        <p>
          Masks can help prevent the spread of the virus from the person wearing
          the mask to others. Masks alone do not protect against COVID-19, and
          should be combined with physical distancing and hand hygiene. Follow
          the advice provided by your local health authority.
        </p>
      </div>
    </div>
  </div>
</div>
</section>


<section id="third-section">


<div class="containers">
  <div class="row">
    <div class="col-md-12">
      <h2>Can Face Masks Protect You from the 2019 Coronavirus? What Types, When and How to Use?</h2>
    </div>
  </div>
</div>

<hr my-4>
<div class="card mb-3 border-value">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="../images/samplemask.jpg" class="card-img" alt="..." />
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Masks</h5>
        <p class="card-text">
          In late 2019, a novel coronavirus emerged in China. Since then, it’s rapidly spread throughout the world. This novel coronavirus is called SARS-CoV-2, and the disease that it causes is called COVID-19.While some with COVID-19 have a mild illness, others may experience difficulty breathing, pneumonia, and even respiratory failure.
          <br /><br />
          Older adults and those with underlying health conditions are most at riskTrusted Source for serious illness.

You may have heard a lot recently about using face masks to prevent infection. In fact, one recent study found that Google searches related to face masks spiked in Taiwan following the country’s first imported case.
        </p>

        <p>So, are face masks effective, and if so, when should you wear them? Read on to learn the answers to this question and more.</p>
      </div>
    </div>
  </div>
</div>

</section>

<section id="fourth-section">


<div class="card-deck p-5">
  <div class="card">
    <img src="/images/homemade.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Home made Masks</h5>
      <p class="card-text">Cloth face masks can be made at home from common materials. They’re better than not using any mask </p>
    </div>
  </div>
  <div class="card">
    <img src="/images/surgical2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Surgical Masks</h5>
      <p class="card-text">Surgical masks are disposable, loose-fitting face masks that cover your nose, mouth, and chin.</p>
    </div>

  </div>
  <div class="card">
    <img src="/images/n95.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">N95 Respirators</h5>
      <p class="card-text">The respirator itself is generally circular or oval in shape and is designed to form a tight seal to your face.</p>
    </div>

  </div>
</div>
</section>

<section id="fifth-section">


<div class="masks p-4">
  <div class="homemade">
    <h3>Homemade cloth face masks</h3>
    <div class="homemadep">
    <p>To prevent the transmission of the virus from people without symptoms, the Centers for Disease Control and Prevention (CDC) is now recommendingTrusted Source that everyone wears cloth face masks, such as homemade face masksTrusted Source.
    The recommendation is for when you’re in public places where it’s difficult to maintain a 6-foot distance from others. This recommendation is in addition to continued physical distancing and proper hygiene practices.</p>
    <h4 style="color:#0f3057;">Recommemdations include:</h4>
    <div class="homemadeul homemadep">
    <ul>
      <li>Wear cloth face masks in public settings, especially in areas of significant community-based transmission, such as grocery stores and pharmacies.</li>
      <li>Don’t put cloth face masks on children under 2 years old, people who have trouble breathing, people who are unconscious, or people who are unable to remove the mask on their own.</li>
      <li>Use cloth face masks rather than surgical masks or N95 respirators, as these critical supplies must be reserved for healthcare workers and other medical first responders.</li>
      <li>Healthcare professionals should exercise extreme caution when using homemade face masks. These masks should preferably be used in combination with a face shield that covers the entire front and sides of the face and extends to the chin or below.</li>
      <p><b>NOTE: </b>Wash homemade cloth masks after every use. When removing, be careful not to touch your eyes, nose, and mouth. Wash hands immediately after removing.</p>
    </ul>
    </div>
    </div>
  </div>

  <div class="surgical">
    <h3>Surgical Masks</h3>
<div class="surgicalp homemadep">
  <p>Surgical masks are disposable, loose-fitting face masks that cover your nose, mouth, and chin.<br/>They’re typically used to:</p>
  <div class="surgicalul homemadep">
    <ul>
      <li>protect the wearer from sprays, splashes, and large-particle droplets</li>
      <li>prevent the transmission of potentially infectious respiratory secretions from the wearer to others</li>
    </ul>
  </div>
  <p>Surgical masks can vary in design, but the mask itself is often flat and rectangular in shape with pleats or folds. The top of the mask contains a metal strip that can be formed to your nose.</p>
  <p>Elastic bands or long, straight ties help hold a surgical mask in place while you’re wearing it. These can either be looped behind your ears or tied behind your head.</p>
</div>
  </div>

<div class="n95">
  <h3>N95 Respirators</h3>
  <div class="N95p homemadep">
    <p>An N95 respirator is a more tight-fitting face mask. In addition to splashes, sprays, and large droplets, this respirator can also filter out 95 percentTrusted Source of very small particles. This includes viruses and bacteria.</p>
    <p>The respirator itself is generally circular or oval in shape and is designed to form a tight seal to your face. Elastic bands help hold it firmly to your face.</p>
    <p>N95 respirators aren’t one-size-fits-all. They actually must be fit-tested before use to make sure that a proper seal is formed. If the mask doesn’t seal effectively to your face, you won’t receive the appropriate protection</p>
    <p>After being fit-tested, users of N95 respirators must continue to perform a seal check each time they put one on.</p>
    <p>It’s also important to note that a tight seal can’t be achieved in some groups. These include children and people with facial hair</p>
  </div>
</div>

</div>


<div class="symptoms p-4">
  <h2>Symptoms of Coronavirus:</h2>
  <div class="homemadep">
  <p>People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:</p>
  <div class="symptomsul m-4 homemadep">
    <ul>
      <li>Fever or chills</li>
      <li>Cough</li>
      <li>Shortness of breath or difficulty breathing</li>
      <li>Fatigue</li>
      <li>Muscle or body aches</li>
      <li>Headache</li>
      <li>New loss of taste or smell</li>
      <li>Sore throat</li>
      <li>Congestion or runny nose</li>
      <li>Nausea or vomiting</li>
      <li>Diarrhea</li>
    </ul>
  </div>

  </div>

  <div class="emergency">
    <h3>When to seek emergency medical attention</h3>
    <div class="homemadep">
    <p>Look for emergency warning signs* for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately:</p>
    <div class="emergencyul homemadep">
      <ul>
        <li>Trouble breathing</li>
        <li>Persistent pain or pressure in the chest</li>
        <li>New confusion</li>
        <li>Inability to wake or stay awake</li>
        <li>Inability to wake or stay awake</li>
      </ul>
    </div>
  </div>
</div>
</div>
</section>
<!-- <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="/images/image12.jpeg" class="card-img" alt="..." />
    </div>
    <div class="col-md-6">
      <img src="/images/threelayer1.jpg" class="card-img" alt="..." />
    </div>
  </div>
</div>

<div class="card bg-dark text-white">
  <img src="../images/image9.jpeg" class="card-img detection" alt="..." />
  <div class="card-img-overlay"></div>
</div> -->
<%- include('footer') %>
