<%- include('header') -%> 

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Country Name</th>
      <th scope="col">Active</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deceased</th>
      <th scope="col">Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    
    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    
    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    
    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    
    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    
    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    
    <tr>
      <th scope="row">#</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    
  </tbody>
</table>

<%- include('footer') -%> 