<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- footer of our page -->
<div class="">

 <!-- contact -->
 <section id="connect" style="background-color: #d5d5d5;">
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h1 style="padding-top: 20px; color: blue;  ">Connect</h2>
      </div>

      <!-- Our links -->
      <div class="col-12 social padding">
        <a href="https://www.linkedin.com/in/kshitij-gupta-79abb51a0/"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/kshitijgupta468035/"><i class="fa fa-git"></i></a>
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href="mailto:webdevelopment9453@mail.com"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
  </div>
</section>


<footer>
  <!-- Section 1 -->
  <div class="container-fluid padding">
    <div class="row text-center new">
      <div class="col-md-4">

        <img src="/images/logo.jpeg" class="footerimage" alt="" />

        <!-- <p>000-333-333-1</p> -->
        <p>webdevelopment9453@gmail.com</p>
        <p>100 Park Street</p>
        <p>Mathura, UTTAR PRADESH, 281001</p>
      </div>
      <div class="col-md-4">

        <h1>Our Hours</h1>

        <p>Monday: 9am - 5pm</p>
        <p>Saturday: 10am - 4pm</p>
        <p>Sunday: Closed</p>
      </div>
      <div class="col-md-4">

        <h2>Services Area</h2>

        <p>Sitapur, UTTAR PRADESH, 261001</p>
        <p>Agra, UTTAR PRADESH, 282002</p>
        <p>Kolkata, West Bengal, 700001</p>
        <!-- <p>City, State, 0000</p> -->
      </div>

      <div class="col-12">
        <hr style="width: 100%;" class="light">
        <h5>
          Web Design 2020, Copyright &copy; www.myWeb.com. All rights
          Reserved
        </h5>
      </div>
    </div>
  </div>

  <section class="section-2">
    <p style="text-align: center;"><i>Feel Free to Contact Us!</i></p>
  </section>
  <a href="#" style="text-decoration: none;"><button type="button" name="button" class="button">Back To Top</button></a>
</footer>


</div>

</body>

</html>
