<%- include('nav2') %>
<div class="gdpDiv card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../images/gdp.jpg" class="gdp1 card-img" alt="...">
        <img src="../images/gdp2.jpg" class="gdp2 card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body gdpcard">
            <h5 class="card-title">
                Economic impact of the COVID-19 pandemic in India
              </h5>
          <p class="card-text">
            The economic impact of the 2020 coronavirus pandemic in India has been largely disruptive. India's growth in the fourth quarter of the fiscal year 2020 went down to 3.1% according to the Ministry of Statistics. The Chief Economic Adviser to the Government of India said that this drop is mainly due to the coronavirus pandemic effect on the Indian economy. Notably India had also been witnessing a pre-pandemic slowdown, and according to the World Bank, the current pandemic has "magnified pre-existing risks to India's economic outlook".
        </p>
        <p class="card-text">
            The World Bank and rating agencies had initially revised India's growth for FY2021 with the lowest figures India has seen in three decades since India's economic liberalization in the 1990s. However, after the announcement of the economic package in mid-May, India's GDP estimates were downgraded even more to negative figures, signalling a deep recession. (The ratings of over 30 countries have been downgraded during this period.) On 26 May, CRISIL announced that this will perhaps be India's worst recession since independence. State Bank of India research estimates a contraction of over 40% in the GDP in Q1 The contraction will not be uniform, rather it will differ according to various parameters such as state and sector. On 1 September 2020, the Ministry of Statistics released the GDP figures for Q1 (April to June) FY21, which showed a contraction of 24% as compared to the same period the year before.
        </p>
        <p class="card-text">
            According to Nomura India Business Resumption Index economic activity fell from 82.9 on 22 March to 44.7 on 26 April. By 13 September 2020 economic activity was nearly back to pre-lockdown .[1] Unemployment rose from 6.7% on 15 March to 26% on 19 April and then back down to pre-lockdown levels by mid-June.[2][3] During the lockdown, an estimated 14 crore (140 million) people lost employment while salaries were cut for many others.[2][4] More than 45% of households across the nation have reported an income drop as compared to the previous year.[5] The Indian economy was expected to lose over ₹32,000 crore (US$4.5 billion) every day during the first 21-days of complete lockdown, which was declared following the coronavirus outbreak.[6][7] Under complete lockdown, less than a quarter of India's $2.8 trillion economic movement was functional.[8] Up to 53% of businesses in the country were projected to be significantly affected.[9] Supply chains have been put under stress with the lockdown restrictions in place; initially, there was a lack of clarity in streamlining what an "essential" is and what is not.[10] Those in the informal sectors and daily wage groups have been at the most risk.[11] A large number of farmers around the country who grow perishables also faced uncertainty.[1
        </p>
        <p class="card-text">
            The different phases of India's lockdown up to the "first unlock" on 1 June had varying degrees of the opening of the economy. On 17 April, the RBI Governor announced more measures to counter the economic impact of the pandemic including ₹50,000 crore (US$7.0 billion) special finance to NABARD, SIDBI, and NHB.[17] On 18 April, to protect Indian companies during the pandemic, the government changed India's foreign direct investment policy. The Department of Military Affairs put on hold all capital acquisitions for the beginning of the financial year. The Chief of Defence Staff has announced that India should minimize costly defense imports and give a chance to domestic production; also making sure not to "misrepresent operational requirements".
        </p>
        <p class="card-text">
            <a href="https://en.wikipedia.org/wiki/Economic_impact_of_the_COVID-19_pandemic_in_India#:~:text=State%20Bank%20of%20India%20research%20predicts%20a%20contraction%20of%20over,GDP%20for%20FY20%20is%204.2%25." class="btn btn-primary btn-lg"
            >For more details</a
          >
        </p>
        </div>
      </div>
    </div>
  </div>

<%- include('footer') %>
