<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <title>Covid-19</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   
   <!-- Font Awesome -->
   <script
   src="https://kit.fontawesome.com/996973c893.js"
   crossorigin="anonymous"
   ></script>
   
   <!-- Google Fonts -->
   <link
   href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap"
     rel="stylesheet"
   />
   
   <link rel="stylesheet" href="../css/styles.css" />
   <!-- Chart.js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>

<body>
  <section id="navigation">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/images/logo.jpeg" /> </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#meet-team">Awareness</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/saveform">Suggestion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#detailed">Covid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer-section">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login" target="_blank">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
</body>

</html>
