<%- include("header") -%>

<!-- Main container -->
<div class="conatiner">
  <div class="myCard">
    <div class="row">

      <!-- Left Part -->
      <div class="col-md-6">
        <div class="myLeftCtn">
          <form class="myForm text-center" action="/signin" method="post">
            <header>
              SignIn/LogIn
            </header>
            <div class="form-group">
              <i class="fa fa-envelope"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("footer") -%>
