<%- include("header") -%>

<!-- Main container -->
<div class="container">
  <div class="myCard">
    <div class="row">

      <!-- Left Part -->
      <div class="col-md-6">
        <div class="myLeftCtn">
          <form class="myForm text-center" action="/home" method="post">
            <header>
              SignIn/LogIn
            </header>

            <!-- For email address input -->
            <div class="form-group">
              <i class="fa fa-envelope"></i>
              <input type="email" class="myInput" placeholder="Email" id="userId" required>
            </div>

            <!-- For password Input -->
            <div class="form-group">
              <i class="fa fa-lock"></i>
              <input type="password" class="myInput" placeholder="Password" id="username" required>
            </div>

            <!-- Submit button -->
            <input type="submit" class="button" value="SignIn">
          </form>
        </div>
      </div>

      <!-- For right part -->
      <div class="right col-md-6">
        <div class="myRightCtn">
          <div class="box">
            <header>
              World Wide Covid
            </header>
            <img src="images/covid.jpg" alt="Covid-Image">
            <h3>Join Us</h3>
            <h4>Health and Wellness</h4>
            <input type="button" class="button" value="About Us">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("footer") -%>
