<%- include("header") -%>

<!-- Main container -->
<div class="conatiner">
  <div class="myCard">
    <div class="row">

      <!-- Left Part -->
      <div class="col-md-6">
        <div class="myLeftCtn">
          <form class="myForm text-center" action="/signin" method="post">
            <header>
              SignIn/LogIn
            </header>

            <!-- For email address input -->
            <div class="form-group">
              <i class="fa fa-envelope"></i>
              <input type="email" class="myInput" placeholder="Email" id="userId" required>
            </div>

            <!-- For password Input -->
            <div class="form-group">
              <i class="fa fa-lock"></i>
              <input type="password" palceholder="Passwird" id="username" required>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("footer") -%>
