<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Hello, world!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body class="signup">
  <!-- Main container -->
  <div class="container">
    <div class="myCard">
      <div class="row">
        <!-- left Part -->
        <div class="col-md-6 full">
          <div class="myLeftCtn">
            <form class="myForm text-center" action="/signup" method="POST">
              <header>Create new Account</header>
              <div class="form-group">
                <i class="fa fa-user"></i>
                <input type="text" class="myInput" placeholder="Username" id="username" name="username" required />
              </div>
              <div class="form-group">
                <i class="fa fa-envelope"></i>
                <input type="email" class="myInput" placeholder="Email" id="userId" name="useremail" required />
              </div>
              <div class="form-group">
                <i class="fa fa-lock"></i>
                <input type="password" class="myInput" placeholder="Password" name="p1" id="userpassword" required />
              </div>
              <input type="submit" class="button" value="CREATE ACCOUNT" />
              <p class="log">Already have an account? <a href="#">SignIn</a></p>
            </form>
          </div>
        </div>

        <!-- Right Part -->
        <div class="right col-md-6 full">
          <div class="myRightCtn">
            <div class="box">
              <header>COVID-19</header>
              <img class="signimg" src="images/circle-cropped.png" alt="" />
              <h3>Join US</h3>
              <h4>Health and Wellness</h4>
              <input type="button" class="button" value="About Us" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
