* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sign up and Register Page */
.signup,
.signin {
  /* background: -webkit-linear-gradient(to left, rgba(0, 0, 255, 0.5), #8000ffbe); */
  height: 100vh;
  background: linear-gradient(to left, #009ffd, #2a2a72);
}


header {
  text-align: center;
}
/* footer{
  margin-top: 550px;
} */

.container {
  position: absolute;
  max-width: 800px;

  height: 510px;
  margin: auto;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myRightCtn {
  position: relative;
  background-image: linear-gradient(45deg, #f046ff, #9b00e8);
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  color: rgb(192, 192, 192);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myLeftCtn {
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  padding-left: 50px;
}

.myLeftCtn header {
  color: blueviolet;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.row {
  height: 100%;
}

.myCard {
  position: relative;
  background: #fff;
  height: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.myRightCtn header {
  color: #fff;
  font-size: 34px;
}

.box {
  position: relative;
  margin: 20px;
  margin-bottom: 100px;
}

.myLeftCtn .myInput {
  width: 230px;
  border-radius: 25px;
  padding: 10px;
  padding-left: 50px;
  border: none;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.log {
  margin-top: 10px;
}
.myLeftCtn .myInput:focus {
  outline: none;
}

.myForm {
  position: relative;
  margin-top: 50px;
}
.full{
  /* padding-top: 500px; */
}

.myLeftCtn .button {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  width: 230px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.myLeftCtn .button:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}

.myLeftCtn .fa {
  position: relative;
  color: #bb36fd;
  left: 36px;
}

.button {
  background: transparent;
  color: #fff;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.button:hover {
  border: 2px solid #eecbff;
}

.button:focus {
  outline: none;
}

.signimg {
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 18px;
  width: 90px;
  border-radius: 80%;
  background-color: inherit;
  animation: mover 700ms infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.forgot-password {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.button {
  margin-top: 30px;
  /* background-color: red; */
  margin: 0 auto;
  text-align: center;
  display: block;
}

.myRightCtn h3,
h4 {
  color: white;
  text-align: center;
}

.myRightCtn h3 {
  text-shadow: 1px 2px black;
}

.myRightCtn h4 {
  /* box-shadow: 2px 2px; */
  margin-bottom: 20px;
}





/* Home Page */
.active {
  text-align: center;
}
.carousel{
  background: -webkit-linear-gradient(360deg,#949494 10%,#efefef 360%);
}
.caro {
  height: 550px;
}
.carousel{
  margin-top: 10px;
}
/* navigation */
#navigation .navbar {
  padding: 1.1rem;
}
.nav-link {
  font-size: 1.1em !important;
}

#navigation .navbar-nav li {
  padding-right: 20px;
}

#navigation h2:hover {
  color: red;
}
#navigation img{
  width: 70px;
  border-radius: 50%;
}

/* Two column */
#two-column {
  background-color: wheat;
}
.twoColumnImg {
  background-color: wheat;
  height: 380px;
  width: 500px;
}

/* team */
.teamdoctor{
  height: 300px;
}

/* detailed */
#detailed{
  background-color: burlywood;
}
#detailed .card{
background-color: #039be5;
margin: 10px;
}
#detailed .card-text{
  color: white;
}

/* suggestion */
#suggestionForm{
  background-color: #3aafa9;
}
#suggestionForm .submitText{
  padding-bottom: 10px ;
}
/* footer */
footer {
  background-color: #3f3f3f;
}
.section-1 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 10px;
}
.first span {
  color: red;
}
.about {
  width: 40%;
  text-align: justify;
}
.about p {
  line-height: 22px;
  padding-top: 7px;
  color: #d5d5d5;
}
.about h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(255, 166, 0, 0.849);
}
.categories ul li a {
  text-decoration: none;
  color: #d5d5d5;
}
.categories ul {
  padding-top: 7px;
}
.categories ul li {
  padding: 3px;
  list-style: none;
}
.categories h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(255, 166, 0, 0.849);
}
.quicklinks ul li a {
  text-decoration: none;
  color: #d5d5d5;
}
.quicklinks ul {
  padding-top: 7px;
}
.quicklinks ul li {
  padding: 3px;
  list-style: none;
}
.quicklinks h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(255, 166, 0, 0.849);
}
.contact ul li {
  padding: 4px;
  list-style: none;
}
.contact ul li a {
  color: #d5d5d5;
}
.contact ul li p {
  display: inline;
  padding-left: 15px;
}
.contact h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(255, 166, 0, 0.849);
}
.quicklinks a:hover {
  color: white;
  background-color: black;
}
.categories a:hover {
  color: white;
  background-color: black;
}

/* section2 */
.section-2 {
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
}
.section-2 p {
  font-size: 38px;
  color: #d5d5d5;
}
.section-2 a:hover {
  background-color: blue;
}
.section-2 a {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 25%;
  margin-left: 10px;
}
.section-3 {
  display: flex;
  justify-content: center;
}
.section-3 ul {
  list-style: none;
  margin: 20px;
}
.section-3 ul li {
  display: inline-block;
  font-size: 60px;
  margin: 15px;
}
.section-3 ul li a i {
  color: white;
}
.section-3 ul li:nth-child(1):hover {
  background-color: #55acee;
  padding: 0px 10px;
}
.section-3 ul li:nth-child(2):hover {
  background-color: #3b5999;
  padding: 0px 10px;
}
.section-3 ul li:nth-child(3):hover {
  background-color: #dd4b39;
  padding: 0px 10px;
}
.section-3 ul li:nth-child(4):hover {
  background-color: #0077b5;
  padding: 0px 10px;
}
.section-3 ul li:nth-child(5):hover {
  background-color: grey;
  padding: 0px 10px;
}
a:hover {
  color: white;
}
.section-4 {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 30px;
}
.section-4 p {
  font-size: 20px;
  position: relative;
  color: #d5d5d5;
}

/* to create horizontal line */
.section-4 p::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: yellow;
  transition: all 0.3s;
}
.section-4 p:hover::after {
  width: 100%;
}
hr {
  border-top: 2px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
/* 
@media (max-width: 1275px){
  footer{
    margin-top: 800px;
  }
}
@media (max-width: 767px){
  footer{
    margin-top: 1200px;
  }
} */

/* FOR RESPONSIVE OF FOOTER */
@media (max-width: 860px) {
  .section-1 {
    flex-wrap: wrap;
  }
  .about {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 530px) {
  .section-1 {
    flex-direction: column;
  }
  .about {
    width: 100%;
  }
  .section-1 h1 {
    margin-top: 20px;
  }
  .section-3 ul li {
    font-size: 40px;
    margin: 10px;
  }
  .section-4 p {
    font-size: 14px;
  }
  .section-2 {
    padding: 20px;
  }
  .section-2 p {
    font-size: 30px;
  }
}


/* COVID LIVE */
table{
  margin-top: 20px;
}