* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

/* Sign up and Register Page */
.signup,
.signin {
  /* background: -webkit-linear-gradient(to left, rgba(0, 0, 255, 0.5), #8000ffbe); */
  height: 100vh;
  background: linear-gradient(to left, #009ffd, #2a2a72);
}

header {
  text-align: center;
}

.container {
  position: absolute;
  max-width: 800px;
  height: 510px;
  margin: auto;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myRightCtn {
  position: relative;
  background-image: linear-gradient(45deg, #f046ff, #9b00e8);
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  color: rgb(192, 192, 192);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myLeftCtn {
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  padding-left: 50px;
}

.myLeftCtn header {
  color: blueviolet;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.row {
  height: 100%;
}

.myCard {
  position: relative;
  background: #fff;
  height: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.myRightCtn header {
  color: #fff;
  font-size: 34px;
}

.box {
  position: relative;
  margin: 20px;
  margin-bottom: 100px;
}

.myLeftCtn .myInput {
  width: 230px;
  border-radius: 25px;
  padding: 10px;
  padding-left: 50px;
  border: none;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.log {
  margin-top: 10px;
}

.myLeftCtn .myInput:focus {
  outline: none;
}

.myForm {
  position: relative;
  margin-top: 50px;
}

.full {
  /* padding-top: 500px; */
}

.myLeftCtn .button {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  width: 230px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.myLeftCtn .button:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}

.myLeftCtn .fa {
  position: relative;
  color: #bb36fd;
  left: 36px;
}

.button {
  background: transparent;
  color: #fff;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.button:hover {
  border: 2px solid #eecbff;
}

.button:focus {
  outline: none;
}

.signimg {
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 18px;
  width: 90px;
  border-radius: 80%;
  background-color: inherit;
  animation: mover 700ms infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.forgot-password {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.button {
  margin-top: 30px;
  /* background-color: red; */
  margin: 0 auto;
  text-align: center;
  display: block;
}

.myRightCtn h3,
h4 {
  color: white;
  text-align: center;
}

.myRightCtn h3 {
  text-shadow: 1px 2px black;
}

.myRightCtn h4 {
  /* box-shadow: 2px 2px; */
  margin-bottom: 20px;
}

/* Home Page */
.active {
  text-align: center;
}

.carousel {
  background: -webkit-linear-gradient(360deg, #949494 10%, #efefef 360%);
}

.caro {
  height: 550px;
}

.carousel {
  margin-top: 10px;
}

/* navigation */
#navigation {
  background-color: #394867;
}

#navigation .navbar {
  padding: 1.1rem;
}

.nav-link {
  font-size: 1.1em !important;
}

#navigation .navbar-nav li {
  padding-right: 20px;
}

#navigation h2:hover {
  color: red;
}

#navigation img {
  width: 70px;
  border-radius: 50%;
}

/* Two column */
#two-column {
  /* background-color: #fff8c1; */
  background-color: #3778c2;

  /* color: #aa3a3a; */
  color: white;
  padding: 5%;
}

.twoColumnImg {
  background-color: wheat;
  height: 380px;
  width: 500px;
}

/* team */
.teamdoctor {
  height: 300px;
}

#meet-team {
  padding: 7%;
    background-color: #8bcdcd;

}
#meet-team h1{
/* color: white; */
}
#meet-team .heros {
  padding-bottom: 3%;
}

#meet-team img {
  width: 100%;
  height: 275px;
}
.meet h4{
  color: black;
  /* background-color: gray; */
}
.wholecard{
  /* background-color: gray; */
  border: 2px solid black;
}
/* detailed */
#detailed {


  background-color: #004e7c;
  /* background-color: #5c5f58; */
  padding: 7%;
}
#detailed h1{
  color: white;
}
#detailed .cards {
  padding: 0 0 5%;
}

#detailed .card {

  background-color: #bbbfca;


  margin: 10px;
}

#detailed .card-text {
  color: white;
}

/* suggestion */
#suggestionForm {
  /* background-color: gray; */
  background-color: #3aafa9;
  padding: 5%;
}
/*
#suggestionForm .submitText {
  padding-bottom: 10px;
}

#suggestionForm .center {
  text-align: center;
}

.btn-lg {
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
} */
.suggestimg1{
  /* background-color: red; */
}
.suggestimg2{
  width: 65%;
  /* background-color: red; */
}
.submitdirect{
  font-size: 2vw;
  display: inline-block;
  margin-top: 60px;
  color: blue;
  animation: blinker 2s linear infinite;
  text-decoration: none;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.submitdirect:hover{
  text-decoration: none;
  animation: none;
  color: red
}



/* main section */
.main-section {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.3rem;
  color: red;
}

/* Footer Section */
#footer-section {
  padding: 3%;
}

.member-1 {
  width: 65%;
  margin:auto;
}

.member-1::after {
  content: "";
  display: block;
  clear: both;
}

.member-1 img {
  float: left;
  margin-right: 20px;
}

.member-1 p {
  padding: 20px;
  text-align: justify;
}

.member-2 {
  width: 70%;
  margin:40px auto;
}

.member-2 img {
  float: right;
  margin-left: 20px;
}

.member-2 p {
  padding: 20px;
  text-align: justify;
}

.member-2::after {
  content: "";
  display: block;
  clear: both;
}
/* COVID LIVE */
table {
  margin-top: 20px;
}

/* gdp image */
.gdp1{
  padding: 120px 0px;
}
.gdpDiv{
  padding: 3%;
  background-color: lightblue;
}

.gdpDiv img {
  border-radius: 40%;
}

.gdpcard {
  padding: 5%;
}

.gdpcard .card-text {
  padding: 5%;
}

.gdpDiv h5{
  text-align: center;
  font-size: 3vw;
}


/* history section */
#cover{
}
.part1{
  padding: 3%;;
  /* background-color:	 #1aff8c; */
  background-color: #b9fffc;
  /* color: white; */
}

.part1 h1{
  padding: 10px 0;
  text-align: center;
  color: #120078;
  font-family: cursive;
}

.history-theory {
    padding: 3%;

}

.history-theory p {
  color: #0f3460;
  font-family: fantasy;
  font-size: 1.4rem;
}

.part1 p, .part2 p{
  text-align: justify;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.part2{
  padding: 3%;
  background-color: #a5ecd7;
  color: white;
}

.part2 h1{
  text-align: center;
  color: #120078;
  font-family: cursive;
}

.part2 p {
  padding: 20px;
  color: #0f3460;
  font-size: 1.4rem;
}

.part2-1{
  background-color: #effad3;
  color: black;
  text-align: center;
  width: 68%;
  margin: auto;
  padding-bottom: 5px;
  padding: 3%;
  border-radius: 20px;
}

.part2-1 h3 {
  margin-bottom: 20px;
}

.left h3 {
  color: #120078;
}

.left ul {
  color: #0f3460;
}

.right h3 {
  color: #120078;
}

.right ul {
  color: #0f3460;
}

.part2-1 li{
  list-style-type: none;
}

#origin {
  padding: 3%;
  background-color: #e0ece4;
}

.card-body h5 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #120078;
}

.card-body p {
  text-align: justify;
  color: #0f3460;
}

.struct {
  padding: 3%;
  background-color:#ecf4f3;
}

.origin{
  color: white;
  background-color: rgb(16, 170, 221);
}
.structure{
  background-color: #fbeec1;
}

.part5{
  padding: 3%;
  background-color: #f2a07b;
  color: white;
}

.part5 h3{
  text-align: center;
  padding: 3%;
  color: #120078;
}

.part5 h5 {
  text-align: center;
  font-size: 1.3rem;
  color: #120078;
}

.part-5-img {
  padding: 3%;
  background-color: #fbdcc4;
}

.ace1{
margin-left: 200px;
margin-top: 15px;

}
.ace2{
  width: 60%;
}
@media (max-width: 500px){
  .ace1{
    margin-left: 80px;
  }
  .ace2{
    margin-left: 65px;

  }
}

/* covidintro */
.detection{
  width: 60%;
}

/* For suggestion page */
.suggestion-div {
     background-color: #aee6e6;
     text-align: center;
     padding: 10px;
}

.suggestion-div p {
  color: #120078;
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
}

.suggestion-div a {
  color: white;
  font-size: 20px;
}

.submitText input {
  margin: 20px;
  display: inline-block;
}

.all-suggestion {
  text-align: center;
  background-color: #bce6eb;
}

.all-suggestion a {

  display: inline-block;
  border-radius: 20px;
  font-size: 2rem;
  color: #120078;
  text-decoration: none;
  margin: 20px;
  background-color: #aee6e6;
}

.all-suggestion a:hover {
  font-size: 1.8rem;
}

/* Sub page */

.complete {
  background-color: #f1f3f8;
}

.Heading-suggestion {
  padding-top: 20px;
  color: #07689f;
  text-align: center;
}

.user-suggestion {
  padding: 5%;
}

.user {
  padding: 3%;
}

.user .username {
    color: #0c056d;
    font-size: 1.5rem;
}

.user .email {
    color: #0c056d;
    font-size: 1.5rem;
}

.user .sugg {
    color: #0c056d;
    font-size: 1.5rem;
}

.user .time {
    color: #0c056d;
    font-size: 1.5rem;
}



/* connect */
/* connect section */
.social {
  font-size: 3.5rem;
  padding: 20px;
}



.fa-facebook {
  color: #3b5998;
}

.fa-envelope {
  color: #d44638;
}
.fa-facebook:hover,
.fa-git:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: #d5d5d5;
}


/* line footer */
.section-2 {
  display: flex;
  justify-content: center;
  /* background-color: black; */

  padding: 30px;
}
.section-2 p {
  font-size: 20px;
  position: relative;
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
  footer a {
    color: #d5d5d5;
  }
  hr.light-100 {
    border: 1px solid #d5d5d5;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .footerimage {
    width: 20%;
    border-radius: 50%;
  }


#navigation img {
  width: 70px;
  border-radius: 50%;
}

/* to create horizontal line */
.section-2 p::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: yellow;
  transition: all 0.3s;
}
.section-2 p:hover::after {
  width: 100%;
}


#first-section {
  padding: 3%;
  background-color: #eeeeee;
}

.border-value {
  border: none;
}

#second-section {
  padding: 3%;
  background-color: #99a8b2;
}


#third-section {
  padding: 3%;
  background-color: #d2d3c9;
}

#fourth-section {
  padding: 3%;
  background-color: #eeeeee;
}

#fifth-section {
  padding: 3%;
  background-color: #fbf7f0;
  color: #0f3057;
}

#fifth-section p, li {
  font-size: 1.1rem;
}

#fifth-section li {
  list-style-type: circle;
}
.homemadep {
  padding: 2%;
}
