* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

/* Sign up and Register Page */
.signup,
.signin {
  /* background: -webkit-linear-gradient(to left, rgba(0, 0, 255, 0.5), #8000ffbe); */
  height: 100vh;
  background: linear-gradient(to left, #009ffd, #2a2a72);
}

header {
  text-align: center;
}

.container {
  position: absolute;
  max-width: 800px;
  height: 510px;
  margin: auto;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myRightCtn {
  position: relative;
  background-image: linear-gradient(45deg, #f046ff, #9b00e8);
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  color: rgb(192, 192, 192);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myLeftCtn {
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  padding-left: 50px;
}

.myLeftCtn header {
  color: blueviolet;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.row {
  height: 100%;
}

.myCard {
  position: relative;
  background: #fff;
  height: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.myRightCtn header {
  color: #fff;
  font-size: 34px;
}

.box {
  position: relative;
  margin: 20px;
  margin-bottom: 100px;
}

.myLeftCtn .myInput {
  width: 230px;
  border-radius: 25px;
  padding: 10px;
  padding-left: 50px;
  border: none;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.log {
  margin-top: 10px;
}

.myLeftCtn .myInput:focus {
  outline: none;
}

.myForm {
  position: relative;
  margin-top: 50px;
}

.full {
  /* padding-top: 500px; */
}

.myLeftCtn .button {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  width: 230px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.myLeftCtn .button:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}

.myLeftCtn .fa {
  position: relative;
  color: #bb36fd;
  left: 36px;
}

.button {
  background: transparent;
  color: #fff;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.button:hover {
  border: 2px solid #eecbff;
}

.button:focus {
  outline: none;
}

.signimg {
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 18px;
  width: 90px;
  border-radius: 80%;
  background-color: inherit;
  animation: mover 700ms infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.forgot-password {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.button {
  margin-top: 30px;
  /* background-color: red; */
  margin: 0 auto;
  text-align: center;
  display: block;
}

.myRightCtn h3,
h4 {
  color: white;
  text-align: center;
}

.myRightCtn h3 {
  text-shadow: 1px 2px black;
}

.myRightCtn h4 {
  /* box-shadow: 2px 2px; */
  margin-bottom: 20px;
}

/* Home Page */
.active {
  text-align: center;
}

.carousel {
  background: -webkit-linear-gradient(360deg, #949494 10%, #efefef 360%);
}

.caro {
  height: 550px;
}

.carousel {
  margin-top: 10px;
}

/* navigation */
#navigation {
  background-color: #394867;
}

#navigation .navbar {
  padding: 1.1rem;
}

.nav-link {
  font-size: 1.1em !important;
}

#navigation .navbar-nav li {
  padding-right: 20px;
}

#navigation h2:hover {
  color: red;
}

#navigation img {
  width: 70px;
  border-radius: 50%;
}

/* Two column */
#two-column {
  background-color: wheat;
  padding: 5%;
}

.twoColumnImg {
  background-color: wheat;
  height: 380px;
  width: 500px;
}

/* team */
.teamdoctor {
  height: 300px;
}

#meet-team {
  padding: 7%;
}

#meet-team .heros {
  padding-bottom: 3%;
}

#meet-team img {
  width: 100%;
  height: 275px;
}
.meet h4{
  color: black;
  /* background-color: gray; */
}
.wholecard{
  /* background-color: gray; */
  border: 2px solid black;
}
/* detailed */
#detailed {
  background-color: burlywood;
  padding: 7%;
}

#detailed .cards {
  padding: 0 0 5%;
}

#detailed .card {
  background-color: #039be5;
  margin: 10px;
}

#detailed .card-text {
  color: white;
}

/* suggestion */
#suggestionForm {
  /* background-color: gray; */
  background-color: #3aafa9;
  padding: 5%;
}
/*
#suggestionForm .submitText {
  padding-bottom: 10px;
}

#suggestionForm .center {
  text-align: center;
}

.btn-lg {
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
} */
.suggestimg1{
  /* background-color: red; */
}
.suggestimg2{
  width: 65%;
  /* background-color: red; */
}
.submitdirect{
  font-size: 2.2vw;
  display: inline-block;
  margin-top: 60px;
  color: blue;
  animation: blinker 2s linear infinite;
  text-decoration: none;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.submitdirect:hover{
  text-decoration: none;
  animation: none;
  color: red
}



/* main section */
.main-section {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.3rem;
  color: red;
}

/* Footer Section */
#footer-section {
  background: #14274e;
  padding: 3%;
  padding-bottom: 1%;
}

#footer-section hr {
  background-color: #f1f6f9;
}
/* Section 1 */
.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 10px;
}

.about {
  width: 40%;
}

.about h2 {
  font-size: 1.7rem;
  color: lightgray;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about p {
  text-align: justify;
  color: gray;
  line-height: 24px;
}

.section-1 ul {
  list-style-type: none;
  line-height: 24px;
}

/* All links port h2 */
.links1 h2,
.links2 h2,
.links3 h2 {
  color: lightgray;
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* targetting all anchor elements */
a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: orange;
}

/* targetting all span elements */
span {
  color: gray;
  padding-left: 10px;
}

.pick {
  color: blue;
}

/* font icons */
i {
  color: gray;
  font-size: 20px;
}

.section-2 {
  display: flex;
  justify-content: center;
  padding: 1%;
}

/* Section 2 */
.section-2 h2 {
  color: gray;
  font-size: 1.7rem;
  padding-right: 10px;
}

.section-2 a {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  background: red;
  border-radius: 20px;
}

.section-2 a:hover {
  background-color: blue;
}

/* Section -3  */
.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.section-3 ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: #424242;
  border-radius: 50%;
  margin-right: 20px;
}

.section-3 ul li i {
  color: white;
  font-size: 1.7rem;
  line-height: 20px;
  text-align: center;
}

.section-3 ul li:nth-child(1):hover {
  background-color: #3b5999;
}

.section-3 ul li:nth-child(2):hover {
  background-color: #55acee;
}

.section-3 ul li:nth-child(3):hover {
  background-color: #dd4b39;
}

.section-3 ul li:nth-child(4):hover {
  background-color: #007785;
}

.section-3 ul li:nth-child(5):hover {
  background-color: #ea4c89;
}

/* Section 4 */
.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-4 p {
  font-size: 1.5rem;
  color: gray;
  position: relative;
}

.section-4 p::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: yellow;
  transition: 0.3s;
}

.section-4 p:hover::after {
  width: 100%;
}

hr {
  opacity: 0.2;
}

@media (max-width: 970px) {
  .main-section {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.3rem;
    color: red;
  }

  .section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px;
  }

  .about {
    width: 100%;
    margin-bottom: 20px;
  }

  .about h2 {
    font-size: 1.7rem;
    color: lightgray;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .about p {
    text-align: justify;
    color: gray;
    line-height: 24px;
  }

  .section-1 ul {
    list-style-type: none;
    line-height: 24px;
  }

  .links1 h2,
  .links2 h2,
  .links3 h2 {
    color: lightgray;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  a:hover {
    color: orange;
  }

  span {
    color: gray;
    padding-left: 10px;
  }

  i {
    color: gray;
    font-size: 20px;
  }

  .section-2 {
    display: flex;
    justify-content: center;
    padding: 2%;
  }

  .section-2 h2 {
    color: gray;
    font-size: 1.7rem;
    padding-right: 10px;
  }

  .section-2 a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background: red;
    border-radius: 20px;
  }

  .section-2 a:hover {
    background-color: blue;
  }

  .section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }

  .section-3 ul li {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;
  }

  .section-3 ul li i {
    color: white;
    font-size: 1.7rem;
    line-height: 20px;
    text-align: center;
  }

  .section-3 ul li:nth-child(1):hover {
    background-color: #3b5999;
  }

  .section-3 ul li:nth-child(2):hover {
    background-color: #55acee;
  }

  .section-3 ul li:nth-child(3):hover {
    background-color: #dd4b39;
  }

  .section-3 ul li:nth-child(4):hover {
    background-color: #007785;
  }

  .section-3 ul li:nth-child(5):hover {
    background-color: #ea4c89;
  }

  .section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .section-4 p {
    color: gray;
    position: relative;
  }

  .section-4 p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: 0.3s;
  }

  .section-4 p:hover::after {
    width: 100%;
  }

  hr {
    opacity: 0.2;
  }
}

@media (max-width: 566px) {
  .main-section {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.3rem;
    color: red;
  }

  footer {
    background: #26272b;
  }

  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
  }

  .about {
    width: 100%;
    margin-bottom: 20px;
  }

  .about h2 {
    font-size: 1.7rem;
    text-align: center;
    color: lightgray;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .about p {
    text-align: justify;
    color: gray;
    line-height: 24px;
  }

  .section-1 ul {
    list-style-type: none;
    line-height: 24px;
  }

  .links1 h2,
  .links2 h2,
  .links3 h2 {
    color: lightgray;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .links3 ul,
  .links2 ul,
  .links1 ul {
    text-align: left;
    width: 70%;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  a:hover {
    color: orange;
  }

  span {
    color: gray;
    padding-left: 10px;
  }

  .pick {
    color: blue;
    display: block;
  }

  i {
    color: gray;
    font-size: 20px;
  }

  .section-2 {
    display: flex;
    justify-content: center;
    padding: 2%;
  }

  .section-2 h2 {
    color: gray;
    font-size: 1.7rem;
    padding-right: 10px;
  }

  .section-2 a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background: red;
    border-radius: 20px;
  }

  .section-2 a:hover {
    background-color: blue;
  }

  .section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .section-3 ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 10px;
  }

  .section-3 ul li i {
    color: white;
    font-size: 1.7rem;
    line-height: 20px;
    text-align: center;
  }

  .section-3 ul li:nth-child(1):hover {
    background-color: #3b5999;
  }

  .section-3 ul li:nth-child(2):hover {
    background-color: #55acee;
  }

  .section-3 ul li:nth-child(3):hover {
    background-color: #dd4b39;
  }

  .section-3 ul li:nth-child(4):hover {
    background-color: #007785;
  }

  .section-3 ul li:nth-child(5):hover {
    background-color: #ea4c89;
  }

  .section-4 {
    display: flex;
    justify-content: center;

    padding: 30px;
  }

  .section-4 p {
    color: gray;
    font-size: 1rem;
    position: relative;
  }

  .section-4 p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: 0.3s;
  }

  .section-4 p:hover::after {
    width: 100%;
  }

  hr {
    opacity: 0.2;
  }
}

/* COVID LIVE */
table {
  margin-top: 20px;
}

/* gdp image */
.gdp1{
  padding: 120px 0px;
}
.gdpDiv{
  background-color: lightblue;
}
.gdpDiv h5{
  text-align: center;
  font-size: 3vw;
}


/* history section */
#cover{
}
.part1{
  padding: 10px;
  /* background-color:	 #1aff8c; */
  background-color: #6bbaa7;
  /* color: white; */
}
.part1 h1{
  text-align: center;
}
.part1 p, .part2 p{
  text-align: justify;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.part2{
  padding: 10px;
  background-color: gray;
  color: white;
}
.part2 h1{
  text-align: center;
}
.part21{
  background-color: wheat;
  color: black;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  padding-bottom: 5px;
}
.part21 li{
  list-style-type: square;
}
/* .part3{
  display: flex;
}
.part3 img{

 width: 50%;

}
.part3 p{

  margin-top: 100px;
}
.part41{
  display: flex;
} */

/* origin */
.origin{
  color: white;
  background-color: rgb(16, 170, 221);
}
.structure{
  background-color: #fbeec1;
}

.part5{
  padding: 10px;
  background-color: #501b1d;
  color: white;
}
.part5 h5{
  text-align: center;
}
.ace1{
margin-left: 200px;
margin-top: 15px;

}
.ace2{
  width: 60%;
}
@media (max-width: 500px){
  .ace1{
    margin-left: 80px;
  }
  .ace2{
    margin-left: 65px;

  }
}

/* covidintro */
.detection{
  width: 60%;
}

/* For suggestion page */
.suggestion-div {
     background-color: #aee6e6;
     text-align: center;
     padding: 10px;
}

.suggestion-div p {
  color: #120078;
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
}

.suggestion-div a {
  color: white;
  font-size: 20px;
}

.submitText input {
  margin: 20px;
  display: inline-block;
}

.all-suggestion {
  text-align: center;
  background-color: #bce6eb;
}

.all-suggestion a {

  display: inline-block;
  border-radius: 20px;
  font-size: 2rem;
  color: #120078;
  text-decoration: none;
  margin: 20px;
  background-color: #aee6e6;
}

.all-suggestion a:hover {
  font-size: 1.8rem;
}
